<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="active navbar-brand" href="#/">OrgManager</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-show="loggedin" class="menu-item"><a href="#/tasks">Задачи</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="loggedin" class="menu-item"><a href="#/users">Управление пользователями</a></li>
                    <li ng-show="loggedin" class="menu-item"><a href="/admin/backup">Сделать бекап</a></li>
                  
                    <li ng-show="!loggedin" class="menu-item"><a href="#/login">Войти</a></li>
                    <li ng-show="loggedin" class="menu-item"><a href="#/logout">Выйти</a></li>
                 </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>