
<form>
    <label>Задача:</label>
    <input type="text" class="form-control" placeholder="Название" required autofocus>

    <label>Описание:</label>
    <textarea class="form-control" placeholder="Описание"></textarea>

    <label>Сделано:</label>
    <input name="done" type="checkbox"/>
    <br/> <br/>

    <md-content>
        <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date"
                       required md-min-date="minDate" md-max-date="maxDate"
                       md-date-filter="onlyWeekendsPredicate"></md-datepicker>
    </md-content>
    <button class="btn btn-md btn-success btn-block" type="submit">Сохранить</button>
</form>