<div class="inner cover">
    <h1 class="cover-heading">Добро пожаловать!</h1>

    <p ng-show="loggedin" class="lead">Вы авторизованы как пользователь {{currentuser.username}} </p>

    <p ng-show="!loggedin" class="lead">Войдите, для того, чтобы продолжить работу.</p>
    <p ng-show="!loggedin" class="lead">
        <a href="#/login" class="btn btn-lg btn-default">Войти</a>
    </p>
</div>