<div class="container">
    <form action="/admin/user/save" method="post" class="form-signin">
        <h2 class="form-signin-heading">{{title}}</h2>
        <label for="inputLogin">Login:</label>
        <input name="name" ng-model="item.name" type="text" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
		
        <label for="inputPassword">Password</label>
        <input name="password"  ng-model="item.password"  type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		
        <label>Role</label>
		<select  class="form-control" ng-model="item.role" ng-options="i.name for i in roles track by i.id"></select>

        <label>Начальник</label>
		<select  class="form-control"  ng-model="item.manager" ng-options="i.name for i in users track by i.id"></select>
		
        <br/>
        <button class="btn btn-md btn-success btn-block" ng-click="updateUser()">Сохранить</button>
		<button class="btn btn-md btn-success btn-block" ng-click="cancel()">Отменить</button>
    </form>
</div>
