<div class="inner cover">
    <table class="table">
        <tr>
            <th>Имя пользователя</th>
            <th>Начальник</th>
            <th>Роль</th>
            <th></th>
        </tr>
            <tr ng-repeat="item in users">
                <td>{{item.name}}</td>
                <td>{{item.manager.name}}</td>
                <td>{{item.role.name}}</td>
                <td>
                    <button class="btn btn-default" ng-click="editUser(item.id)" >Изменить</button>
                    <button class="btn btn-default" ng-click="deleteUser(item.id)" >Удалить</button>
                </td>
            </tr>
    </table>
    <button class="btn btn-default" ng-click="createNewUser()">Добавить пользователя</button>
</div>